{% extends "base_generic.html" %}
{% block content %}
<h3>All authors from database</h3>
<table>
    <thead><th>Id</th><th>----Name----</th><th>Last name</th><th></th></thead>
    {% if author %}
    {% for author in author.all %}
    <tr>
        <td>{{ author.id }}</td>
        <td>{{ author.first_name }}</td>
        <td>{{ author.last_name }}</td>
        <td><a href="/edit/{{ author.id }}">Edit</a>,
        <a href="/delete/{{ author.id }}">Delete</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <p>No authors in database</p>
    {% endif %}
</table>

<h3>Add an author to database</h3>
<form method="POST" action="/create/">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Save">
</form>
{% endblock %}